<div>
	<% @events.each do |event| %>
		<div>
			<%= event.title %>
			<%= event.from_date %>
			<%= event.to_date %>
			<%= event.event_type %>
			<%=link_to "Details", fossevent_path(event) %>
		</div>
	<% end %>
</div>
