<%= form_for @event, url: {action: "create"} do |f| %>
	
	<div>
 		<label>Create Foss Event</label>
	</div>
	<br/>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title,size:50 %> 
    </div>
    <br/>
        <div>
        	<fieldset>
           <legend>Eventdate</legend>        	
           <%= f.label :from_date %>
		   <%=f.date_field  :from_date %> 		   
		    <%= f.label :to_date %>
		   <%=f.date_field :to_date %> 
		   </fieldset>
	    </div>
   		<div>
         <%=f.label :event_type %><br/>
         <select name="fossevent[event_type]" id="f5" multiple=multiple>
            <option value="conference">Conference</option>
            <option value="hackathon">Hackathon</option>
            <option value="unconference">Unconference</option>
               <option value="meetup">Meetup</option>
               <option value="workshop">Workshop</option>
               <option value="tech-fest">tech-fest</option>
            </select >
   		</div><br/>
   		   <%=f.label :description %><br/>
           <%=f.text_area :description,:size => "30x10" %>
<br/>
<%=f.submit "Submit Event" %>

<% end %>
